html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--fon-color);
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}