html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--fon-color);
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}