@font-face {
  font-family: 'Georgia'; /* Название, которое вы придумали для шрифта */
  src: url('../../fonts/Georgia.woff2') format('woff2'), /* Самый современный и легкий формат */
      url('fonts/myfont.woff') format('woff');
        /* Резерв для старых браузеров */
  font-weight: 400; 
  font-style: normal;
  font-display: swap; /* Текст виден сразу (сначала системным шрифтом) */
}
@font-face {
  font-family: 'Georgia italic'; /* Название, которое вы придумали для шрифта */
  src: url('../../fonts/Georgia-Italic.woff2') format('woff2'), /* Самый современный и легкий формат */
       url('fonts/myfont.woff') format('woff');   /* Резерв для старых браузеров */
  font-weight: 400; 
  font-style: italic;
  font-display: swap; /* Текст виден сразу (сначала системным шрифтом) */
}
@font-face {
  font-family: 'Montserrat Medium'; /* Название, которое вы придумали для шрифта */
  src: url('../../fonts/Montserrat-Medium.woff2') format('woff2'), /* Самый современный и легкий формат */
       url('fonts/myfont.woff') format('woff');   /* Резерв для старых браузеров */
  font-weight: 500; 
  font-style: medium;
  font-display: swap; /* Текст виден сразу (сначала системным шрифтом) */
}
@font-face {
  font-family: 'Montserrat Regular'; /* Название, которое вы придумали для шрифта */
  src: url('../../fonts/Montserrat-Regular.woff2') format('woff2'), /* Самый современный и легкий формат */
       url('fonts/myfont.woff') format('woff');   /* Резерв для старых браузеров */
  font-weight: 400; 
  font-style: normal;
  font-display: swap; /* Текст виден сразу (сначала системным шрифтом) */
}