.header {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
.mainh {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 70px;
  width: 900px;
  max-width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-roel);
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
}
.beautiful-text {
  font-size: 100px;
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
  line-height: 100%;
  
}

.Iwork {
  display: flex;
  width: 400px;
  max-width: 100%;
  font-size: 24px;
  font-family: var(--font-mans-reg);
  color: var(--bg-mist);
}
.mainfooter {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header-paragraf-end {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
}
.beautiful {
  font-family: var(--font-geo-ital);
    /* 1. Накладываем градиент на фон блока */
    background: linear-gradient(to right, #8338EC, #B923FF);
  
    /* 2. Говорим фону: "Останься только там, где нарисованы буквы" */
    -webkit-background-clip: text;
    background-clip: text;
  
    /* 3. Делаем сами буквы прозрачными, чтобы фон стал виден сквозь них */
    -webkit-text-fill-color: transparent;
    color: transparent;
  
    /* Дополнительно: чтобы градиент не повторялся, если текста много */
    display: inline-block;
}


.header-images-skroll {
    width: 106px;
    height: 106px;
}
