.hero {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 70px;
  width: 900px;
  max-width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-roel);
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
}

.hero__title {
  font-size: 100px;
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
  line-height: 100%;
  
}

.hero__subtitle {
  display: flex;
  width: 541px;
  max-width: 100%;
  font-size: 24px;
  font-family: var(--font-mans-reg);
  color: var(--bg-mist);
}

.hero__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero__footer-availability {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
}

.hero__title-highlight {
  font-family: var(--font-geo-ital);
    background: linear-gradient(to right, #8338EC, #B923FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}


.hero__scroll-icon {
  width: 106px;
  height: 106px;
}
