.section_tree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../images/font-section-tree.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 40px;
  margin: 40px 0px;
}

.section_tree_content {
  display: flex;
  flex-direction: column;

}
.content_case_study {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end;
}
.section_tree_content_two {
  display: flex;
  flex-direction: column;
  gap: 230px;
  width: 400px;
}

.section-tree-header {
  font-size: var(--size-standart);
  color: var(--fon-color);
  font-family: var(--font-mans-reg);
}
.stydi_zagolovoc {
  font-size: var(--size-header);
  color: var(--fon-color);
  font-family: var(--font-mans-med);
}
.case_link_box {
  display: flex;
  gap: 8px;
}
.case_link_one {
  font-size: var(--size-standart);
  font-family: var(--font-mans-reg);
  color: var(--fon-color);
  padding: 5.9px 11.8px;
  border-radius: 20px;
  border: 1px solid var(--fon-color);
}
.case_link_two {
  font-size: var(--size-standart);
  font-family: var(--font-mans-reg);
  color: var(--fon-color);
  padding: 5.9px 11.8px;
  border-radius: 20px;
  border: 1px solid var(--fon-color);
}
.section_tree_link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
.section_tree_podval_paragraf {
  display: flex;
  font-size: var(--size-standart);
  color: var(--fon-color);
  font-family: var(--font-mans-reg);
}
.section_tree_podval_link {
  display: flex;
  color: var(--fon-color);
  font-family: var(--font-mans-med);
  font-size: var(--size-standart);
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid var(--fon-color);
  /*плавный переход*/
  transition: all 0.3s ease-in-out;
}
.section_tree_podval_link:hover {
  box-shadow: 0 0 20px rgba(98, 0, 238, 0.6),
      0 0 40px rgba(98, 0, 238, 0.4);
}

.section_tree_link_arrow {
  display: flex;
  width: 10px;
  height: 10px;
  color: var(--fon-color);
}