.section_four {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../images/fon-section-four.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 40px;
  margin-bottom: 40px;
}

.section_four_text {
  display: flex;
  flex-direction: column;

}

.section_four_text_text_header {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.section_four_text_text {
  display: flex;
  flex-direction: column;
  gap: 230px;
  width: 400px;
}

.section_four_text_text_hover_paragraf {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-reg);
}

.section_four_text_text_hover_zagolovok {
  font-size: var(--size-header);
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
}

.section-four-link-box {
  display: flex;
  gap: 8px;
}

.section_four_text_text_hover_link_one {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-reg);
  padding: 5.9px 11.8px;
  border-radius: 20px;
  border: 1px solid var(--bg-mist);
}

.section_four_text_text_hover_link_two {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-reg);
  padding: 5.9px 11.8px;
  border-radius: 20px;
  border: 1px solid var(--bg-mist);
}

.section_four_text_text_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.section_four_text_text_footer_paragraf {
  display: flex;
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-reg);
}

.section_four_text_text_footer_link {
  display: flex;
  color: var(--bg-mist);
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 20px;
  font-size: var(--size-standart);
  font-family: var(--font-mans-med);
  transition: all 0.3s ease-in-out;
}

.section_four_text_text_footer_link:hover {
  box-shadow: 0 0 20px rgba(98, 0, 238, 0.6),
    0 0 40px rgba(98, 0, 238, 0.4);
}

.section_four_text_text_footer_vektor {
  display: flex;
  width: 10px;
  height: 10px;
  color: var(--bg-mist);
}
.section_four_images_wrapp {
  position: absolute;
  top: 67px;
  left: 45%;
  right: 45%
}

.section_four_text_text_footer_link {
  position: relative;
  
  background: transparent;
  /* Внутри блока будет видно фон сайта */
  border-radius: 20px;
  z-index: 1;
}

.section_four_text_text_footer_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  padding: 1px;
  /* Это и есть толщина вашей рамки */

  /* Сам градиент */
  background: linear-gradient(45deg, #8338EC 0%, #B923FF 100%);

  /* Магия маски: рисуем градиент только там, где должна быть рамка */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
  /* Уводим рамку под контент */
}