.section-six {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--bg-roel);
  border-radius: 40px;
  padding: 40px;
  margin: 20px 0px;
}
.section-six-header {
  display: flex;
  justify-content: space-between;
}
.section-six-header-logo {
  width: 172px;
  height: 22px;
}
.section-six-header-links {
  display: flex;
  gap: 12px;
}
.section-six-header-links-links {
  display: flex; 
  gap: 12px;
}
.section-six-header-link-link {
  width: 8px;
  height: 8px;
}
.section-six-header-link-paragrag {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  line-height: 100%;
  font-family: var(--font-mans-med);
}
.section-six-main {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  flex-direction: column;
  margin: auto;
  padding-top: 70px;
  gap: 40px;
}
.section-six-main-logo {
  width: 134px;
  height: 134px;
}
.section-six-main-zagolovoc {
  display: flex;
  text-align: center;
  font-size: 100px;
  color: var(--bg-mist);
  font-family: var(--font-mans-med);
}
.section-six-footer {
  display: flex;
  justify-content: space-between;
}
.section-six-footer-paragraf {
  font-size: var(--size-standart);
  color: var(--bg-mist);
  font-family: var(--font-mans-reg);
}