.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 36px;
  border-radius: 20px;
  background-color: var(--bg-roel);
}

.nav__lists {
  display: flex;
  gap: 24px;
}

.nav__lists-links {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav__lists-links-text {
  display: flex;
  color: var(--bg-mist);
  font-size: var(--size-standart);
  font-family: var(--font-mans-med);
}

.nav__lists-svg {
  width: 8px;
  height: 8px;
}

.nav__links-batoon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px 10px 14px;
  border-radius: 20px;
  border: 1px var(--bg-mist) solid;
}

.nav__links-batoon-svg {
  width: 10px;
  height: 10px;
}
